@import "../../styles.scss";

.navbar-default {
    background-color: $iea-naranja;
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: #93bcc2;
    }
    min-height: 65px;
}

.iea-logo{
    height: 50px;
}

.iea-contenido{
    padding-top:70px; 
    height: 100%;
    .seccion{
        height: 100%;
    }
}

.seccion-video{
    height: 100%;
    width: 100%;
}

#myVideo{
    height: 100%;
    width: 100%;
    object-fit: inherit;
}

.video-contenido{
    position:absolute;
    width: 100%;
    top: 70px;
    text-align: center;
    .video-mensaje{
        font-family: $iea-titulo;
        color: white;
        font-size:40px;
    }
}

//Seccion estilos

.seccion{
    padding: 2%;
}
